* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#username {
    color: rgb(105, 105, 105)
}

button {
    padding: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.534);
    font-size: large;
    font-weight: 550;
    border-radius: 8px;
    transition: 300ms;
}

button:hover {
    background-color: rgba(114, 114, 114, 0.767);
    /* background-color: red; */
    cursor: pointer;
}

#delete {
    background-color: red;
}

#update {
    background-color: rgb(159, 159, 248);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

input {
    padding: 10px;
    font-size: large;
    font-weight: 550;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 12px 1px rgba(128, 128, 128, 0.644);
    outline: none;
    margin-right: 10px;
}

.title {
    font-weight: 600;
    font-size: larger;
}

.user-with-img {
    display: flex;
    align-items: center;
}

#profileImage {
    border-radius: 100px;
    box-shadow: 0px 0px 10px 4px gray;
    width: 60px;
    height: 60px;
    object-fit: cover;

}
